Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-09, with the labels that each got.

#775 发布v0.1.8版本
  javascript/.eslintrc.cjs
  javascript/package.json
  javascript/src/Fetch/nodeFetch.ts
  javascript/src/utils.ts
Labels: language/js

#771 fix: readme浏览器文档地址替换为绝对地址
  javascript/README.md
Labels: language/js, doc

#777 feat:兼容base_api_route
  docs/javascript/console.md
  javascript/src/utils.ts
Labels: language/js, doc

#778 fix: llm console page list api marker param
  python/qianfan/resources/console/data.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/resources/console/model.py
  python/qianfan/resources/console/service.py
Labels: language/python

#780 feat: 增加新模型
  python/qianfan/resources/llm/chat_completion.py
Labels: language/python

#779 fix: iam鉴权不支持模型调用
  javascript/src/Base/index.ts
  javascript/src/utils.ts
Labels: language/js

#781 ak/sk模型列表更新
  javascript/src/DynamicModelEndpoint/utils.ts
Labels: language/js

#782 fix: Update package.json
  javascript/package.json
Labels: language/js

#776 feat: add util function for getting bear token
  javascript/src/constant.ts
  javascript/src/index.ts
  javascript/src/interface.ts
  javascript/src/utils.ts
Labels: language/js

#788 go: 新增 Raw 请求方式
  docs/go/how_to_use/plugin.md
  docs/go/how_to_use/use_lite-v_model.md
  go/qianfan/base_model.go
  go/qianfan/chat_completion.go
  go/qianfan/completion.go
  go/qianfan/console_action.go
  go/qianfan/embdding.go
  go/qianfan/requestor.go
  go/qianfan/service.go
  go/qianfan/text2img.go
  go/qianfan/tokenizer.go
  go/qianfan/version.go
Labels: language/go, doc

#791 bugfix
  docs/go/how_to_use/plugin.md
  go/qianfan/requestor.go
Labels: language/go, doc

#792 chore: 增加qianfan.Qianfan, stat, stress_test文档
  docs/cli.md
  docs/imgs/v2_api_name.jpg
  docs/inference.md
  docs/stress_test.md
Labels: doc

#793 doc: 增加 V2 压测文档
  docs/stress_test.md
Labels: doc

#796 fix: adapt message ut
  python/qianfan/tests/chat_completion_test.py
Labels: language/python

#794 feat: 离线批量推理请求新增来源标识 header
  python/qianfan/resources/console/data.py
Labels: language/python

#783 压测新增对话log
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/dataset/stress_test/yame/runner.py
Labels: language/python

#763 feat: 限流器 3.0 版本升级
  docs/configurable.md
  python/poetry.lock
  python/pyproject.toml
  python/qianfan/extensions/proxy/proxy.py
  python/qianfan/resources/auth/oauth.py
  python/qianfan/resources/rate_limiter/__init__.py
  python/qianfan/resources/rate_limiter/base_rate_limiter.py
  python/qianfan/resources/rate_limiter/check_rate_limiter.lua
  python/qianfan/resources/rate_limiter/pulse.lua
  python/qianfan/resources/rate_limiter/rate_limiter.py
  python/qianfan/resources/rate_limiter/redis_rate_limiter.py
  python/qianfan/resources/rate_limiter/reset_rate_limiter.lua
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/requestor/openapi_requestor.py
  python/qianfan/tests/rate_limiter_test.py
Labels: language/python, doc

#797 fix: 修复只从实参传入鉴权信息然后初始化请求对象时失败的 Bug
  python/qianfan/__init__.py
  python/qianfan/config.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
Labels: language/python

#799 fix: lint
  python/qianfan/config.py
  python/qianfan/resources/llm/base.py
Labels: language/python

#806 Redis 不再默认安装
  python/qianfan/resources/rate_limiter/redis_rate_limiter.py
Labels: language/python

#805 新增参数去重
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#802 fix: 适配ark usage返回null
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#801 update: API 参数更新
  python/qianfan/consts.py
  python/qianfan/resources/console/charge.py
  python/qianfan/resources/console/data.py
Labels: language/python

#787 fix: 修改批量推理 helper 发任务逻辑，增加本地队列
  python/qianfan/errors.py
  python/qianfan/resources/batch_inference/helper/helper.py
  python/qianfan/resources/console/data.py
  python/qianfan/resources/console/utils.py
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/typing.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python

#798 Update README.md
  README.md
Labels: doc

#808 fix: 额外适配
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#809 update: 版本号
  python/pyproject.toml
Labels: language/python

#810 fix: 修复了压测统计指标不正确的问题
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#811 feat: `BatchInferenceHelper` 新增对 Bos 的支持
  python/qianfan/dataset/data_source/afs.py
  python/qianfan/resources/batch_inference/helper/helper.py
  python/qianfan/utils/bos_uploader.py
Labels: language/python

#813 feat: Client 新增 with_raw_response 方法，使得返回值包含 raw response
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/typing_client.py
Labels: language/python

#815 Update time unit of stress test
  python/qianfan/dataset/stress_test/load_statistics.py
Labels: language/python

#816 feat: 压测新增包间延迟统计，并修正了压测结果页面数据统计错误的问题
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#817 feat: 压测在 `log=True` 时带上请求信息
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#818 feat: 更新 0.4.9
  python/pyproject.toml
Labels: language/python

#812 feat: 优化 `show_total_latency` 为 True 时的表现
  docs/inference.md
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python, doc

#820 python 0.4.9.1
  python/pyproject.toml
Labels: language/python
