Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-02, with the labels that each got.

#252 feat: add preset model indicator when printing evaluable model
  python/qianfan/common/client/evaluation.py
Labels: language/python

#263 readme: add go badge
  README.md
Labels: doc

#265 feat: 千帆数据集兼容性变更
  python/qianfan/dataset/dataset.py
  python/qianfan/evaluation/evaluation_manager.py
Labels: language/python

#258 feat: suppport postpretrain in client
  python/qianfan/common/client/chat.py
  python/qianfan/common/client/completion.py
  python/qianfan/common/client/dataset.py
  python/qianfan/common/client/evaluation.py
  python/qianfan/common/client/main.py
  python/qianfan/common/client/plugin.py
  python/qianfan/common/client/trainer.py
  python/qianfan/common/client/utils.py
  python/qianfan/consts.py
  python/qianfan/model/model.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/base.py
  python/qianfan/trainer/configs.py
  python/qianfan/trainer/finetune.py
  python/qianfan/trainer/post_pretrain.py
  python/qianfan/utils/logging.py
Labels: language/python

#264 fix: trainer train actions
  python/pyproject.toml
  python/qianfan/resources/console/finetune.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/finetune.py
Labels: language/python

#271 fix: compatiable with dotenv 1.0
  python/pyproject.toml
Labels: language/python

#275 fix: change MAX_WORKER_THREAD_COUNT to 1000
  python/qianfan/resources/llm/base.py
Labels: language/python

#277 feat: support eb plugin in client
  docs/cli.md
  python/qianfan/common/client/plugin.py
Labels: language/python, doc

#272 fix and tag ckbk finetune_with_bos_and_evaluate
  cookbook/finetune/finetune_with_bos_and_evaluate.ipynb
Labels: cookbook

#262 Multi language javascript
  .github/workflows/js_ci.yml
  .github/workflows/js_release.yml
  .gitignore
  javascript/.eslintrc.js
  javascript/README.md
  javascript/babel.config.cjs
  javascript/dist/bundle.esm.js
  javascript/dist/bundle.js
  javascript/dist/src/ChatCompletion/index.d.ts
  javascript/dist/src/ChatCompletion/utils.d.ts
  javascript/dist/src/Completions/index.d.ts
  javascript/dist/src/Completions/utils.d.ts
  javascript/dist/src/Embedding/index.d.ts
  javascript/dist/src/Embedding/utils.d.ts
  javascript/dist/src/HttpClient/auth.d.ts
  javascript/dist/src/HttpClient/headers.d.ts
  javascript/dist/src/HttpClient/index.d.ts
  javascript/dist/src/HttpClient/strings.d.ts
  javascript/dist/src/constant.d.ts
  javascript/dist/src/getAccessToken/__test__/index.test.d.ts
  javascript/dist/src/getAccessToken/index.d.ts
  javascript/dist/src/index.d.ts
  javascript/dist/src/interface.d.ts
  javascript/dist/src/multiply/__test__/index.test.d.ts
  javascript/dist/src/multiply/index.d.ts
  javascript/dist/src/test/chatCompletion.d.ts
  javascript/dist/src/test/completiontest.d.ts
  javascript/dist/src/test/embedding.d.ts
  javascript/dist/src/utils.d.ts
  javascript/package.json
  javascript/rollup.config.mjs
  javascript/src/ChatCompletion/index.ts
  javascript/src/ChatCompletion/utils.ts
  javascript/src/Completions/index.ts
  javascript/src/Completions/utils.ts
  javascript/src/Embedding/index.ts
  javascript/src/Embedding/utils.ts
  javascript/src/HttpClient/auth.ts
  javascript/src/HttpClient/headers.ts
  javascript/src/HttpClient/index.ts
  javascript/src/HttpClient/strings.ts
  javascript/src/constant.ts
  javascript/src/index.ts
  javascript/src/interface.ts
  javascript/src/streaming/error.ts
  javascript/src/streaming/index.ts
  javascript/src/test/chatCompletion.ts
  javascript/src/test/completiont.ts
  javascript/src/test/embedding.ts
  javascript/src/utils.ts
  javascript/tsconfig.json
  javascript/yarn.lock
Labels: language/js

#281 JS SDK 文档更新
  javascript/README.md
Labels: language/js

#282 feat: support start & wait; fix models
  go/qianfan/chat_completion.go
  python/pyproject.toml
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/base.py
  python/qianfan/trainer/consts.py
  python/qianfan/trainer/finetune.py
  python/qianfan/trainer/post_pretrain.py
  python/qianfan/utils/logging.py
Labels: language/python, language/go

#285 fix: add err code for retry
  python/qianfan/consts.py
Labels: language/python

#287 JS SDK支持环境变量读取、修改及手动传入ak/sk
  javascript/README.md
  javascript/package.json
  javascript/src/ChatCompletion/index.ts
  javascript/src/Completions/index.ts
  javascript/src/Embedding/index.ts
  javascript/src/index.ts
  javascript/src/test/chatCompletion.ts
  javascript/src/test/completiont.ts
  javascript/src/test/embedding.ts
  javascript/src/utils.ts
Labels: language/js

#288 更新js package.json版本号
  javascript/package.json
Labels: language/js

#290 bugfix: Rpm bug fix
  python/qianfan/resources/rate_limiter.py
  python/qianfan/resources/token_limiter.py
Labels: language/python

#300 JS SDK 基类抽取，异常输出优化
  javascript/.eslintrc.cjs
  javascript/.eslintrc.js
  javascript/.prettierignore
  javascript/.prettierrc
  javascript/README.md
  javascript/package.json
  javascript/rollup.config.mjs
  javascript/src/Base/index.ts
  javascript/src/ChatCompletion/index.ts
  javascript/src/Completions/index.ts
  javascript/src/Embedding/index.ts
  javascript/src/HttpClient/index.ts
  javascript/src/constant.ts
  javascript/src/enum.ts
  javascript/src/index.ts
  javascript/src/interface.ts
  javascript/src/utils.ts
  javascript/tsconfig.json
  javascript/yarn.lock
Labels: language/js

#292 doc: add go examples & docs
  docs/go/config.md
  docs/go/inference.md
  docs/template/root_doc.rst_t
  go/README.md
  go/examples/README.md
  go/examples/embedding_distance/main.go
  go/examples/function_call/main.go
  go/examples/list_model/main.go
  go/examples/stream_chat/main.go
  python/scripts/build_doc.sh
Labels: language/python, language/go, doc

#297 cookbook pluginV2
  cookbook/plugin.ipynb
Labels: cookbook

#291 feat: support forget old message in chat
  python/pyproject.toml
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/token_limiter.py
  python/qianfan/resources/tools/tokenizer.py
  python/qianfan/resources/typing.py
  python/qianfan/tests/chat_completion_test.py
  python/qianfan/tests/tokenizer_test.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python
