Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-04, with the labels that each got.

#393 fix: adapt poetry to test_ntbk
  .github/workflows/pip_install/action.yml
  Makefile
  python/Makefile
  python/pyproject.toml
Labels: language/python

#405 fix: fix format issue
  python/qianfan/dataset/dataset.py
  python/qianfan/evaluation/evaluation_manager.py
Labels: language/python

#410 feat: add retry and rate limit example in java
  java/example/pom.xml
  java/example/src/main/java/com/baidubce/RateLimitConfigExample.java
  java/example/src/main/java/com/baidubce/RetryConfigExample.java
Labels: language/java

#413 chore: bump version to 0.0.4
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
Labels: language/java

#409 fix: 流式返回乱码问题
  javascript/README.md
  javascript/src/Images/image2text.ts
  javascript/src/streaming/index.ts
Labels: language/js

#416 feat: Image2Text adds preset services
  javascript/README.md
  javascript/package.json
  javascript/src/Images/image2text.ts
  javascript/src/Images/text2image.ts
  javascript/src/Images/utils.ts
  javascript/src/test/image2text.ts
Labels: language/js

#420 fix: prompt optimize not working when identifier is not {}
  python/qianfan/autotuner/runner/qianfan_runner.py
  python/qianfan/common/prompt/prompt.py
Labels: language/python

#407 fix: update error msg when oauth failed
  python/qianfan/errors.py
  python/qianfan/resources/auth/oauth.py
Labels: language/python

#394 Langchain qianfan cookbook update
  cookbook/RAG/question_anwsering/question_answering.ipynb
  cookbook/agents/langchain_agent_with_qianfan_llm.ipynb
  cookbook/agents/qianfan_single_action_agent_example.ipynb
  python/pyproject.toml
  python/qianfan/extensions/langchain/agents/baidu_qianfan_endpoint.py
Labels: language/python, cookbook

#423 fix: hotfix for release_note.sh
  python/scripts/release_note.sh
Labels: language/python

#427 feat: update cookbook
  cookbook/essay_correction.ipynb
Labels: cookbook

#429 docs: update sdk version to 0.0.4
  java/README.md
  java/example/pom.xml
Labels: language/java

#435 fix: increase access token refresh interval to 3600
  java/src/main/java/com/baidubce/qianfan/core/QianfanConfig.java
Labels: language/java

#436 feat: Dynamically obtain model
  README.md
  javascript/README.md
  javascript/package.json
Labels: language/js, doc

#439 fix:删除日志
  javascript/src/Base/index.ts
Labels: language/js

#437 feat: autotuner support evaluator summarize
  python/qianfan/autotuner/runner/qianfan_runner.py
Labels: language/python

#431 feat: support optimize prompt by example
  cookbook/prompt.ipynb
  python/qianfan/common/prompt/prompt.py
  python/qianfan/common/prompt/template.py
Labels: language/python, cookbook

#434 fix[trainer] load pipeline
  python/pyproject.toml
  python/qianfan/common/client/trainer.py
  python/qianfan/common/persister/persist.py
  python/qianfan/common/runnable/base.py
  python/qianfan/model/model.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/resources/console/model.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
  python/qianfan/trainer/finetune.py
  python/qianfan/trainer/pipeline.py
  python/qianfan/trainer/post_pretrain.py
  python/qianfan/trainer/trainer.py
Labels: language/python

#448 fix[trainer]: fix output & support trainer.show
  python/pyproject.toml
  python/qianfan/trainer/finetune.py
Labels: language/python

#447 feat: add sample function
  python/qianfan/dataset/data_source/chunk_reader.py
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/table.py
  python/qianfan/evaluation/evaluation_manager.py
Labels: language/python

#451 add shuffle func
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/table.py
  python/qianfan/evaluation/evaluation_manager.py
Labels: language/python

#456 Update base_model.go
  go/qianfan/base_model.go
Labels: language/go

#457 fix: openai server response does not have done flag
  python/qianfan/common/client/openai_adapter.py
Labels: language/python

#461 update default retry timeout
  dotenv_config_sample.env
  python/qianfan/consts.py
Labels: language/python

#462 feat: remove none from json output
  python/qianfan/dataset/data_source/file.py
Labels: language/python

#460 feat[resource]: support reranker
  python/pyproject.toml
  python/qianfan/resources/__init__.py
  python/qianfan/resources/llm/rerank.py
Labels: language/python

#465 feat[resource]: support service v2
  python/qianfan/consts.py
  python/qianfan/resources/console/service.py
Labels: language/python

#463 feat[go]: support retrieve model endpoint dynamically
  go/qianfan/auth.go
  go/qianfan/auth_test.go
  go/qianfan/base_model.go
  go/qianfan/chat_completion.go
  go/qianfan/chat_completion_test.go
  go/qianfan/completion.go
  go/qianfan/completion_test.go
  go/qianfan/config.go
  go/qianfan/console_base.go
  go/qianfan/consts.go
  go/qianfan/embdding.go
  go/qianfan/embedding_test.go
  go/qianfan/error.go
  go/qianfan/model_endpoint_retriever.go
  go/qianfan/requestor.go
  go/qianfan/service.go
  go/qianfan/service_test.go
  python/qianfan/tests/utils/mock_server.py
Labels: language/python, language/go

#467 feat[go]: support context
  go/qianfan/auth.go
  go/qianfan/auth_test.go
  go/qianfan/base_model.go
  go/qianfan/chat_completion.go
  go/qianfan/completion.go
  go/qianfan/console_base.go
  go/qianfan/embdding.go
  go/qianfan/model_endpoint_retriever.go
  go/qianfan/options.go
  go/qianfan/requestor.go
  go/qianfan/service.go
  go/qianfan/utils.go
Labels: language/go

#470 chore: bump version to 0.0.4
  go/qianfan/version.go
Labels: language/go

#472 chore: merge #467 into main
  go/qianfan/auth.go
  go/qianfan/auth_test.go
  go/qianfan/base_model.go
  go/qianfan/chat_completion.go
  go/qianfan/completion.go
  go/qianfan/console_base.go
  go/qianfan/embdding.go
  go/qianfan/model_endpoint_retriever.go
  go/qianfan/options.go
  go/qianfan/requestor.go
  go/qianfan/service.go
  go/qianfan/utils.go
Labels: language/python, language/go

#482 fix: openai adapter detached mode not working on windows
  python/qianfan/common/client/openai_adapter.py
Labels: language/python

#477 cookbook: add apo
  cookbook/README.md
  cookbook/apo.ipynb
Labels: cookbook

#406 cookbook: update autotuner instruction
  cookbook/autotuner/tune.ipynb
  python/qianfan/autotuner/runner/qianfan_runner.py
Labels: language/python, cookbook

#481 feat: Dataset create file lock
  python/pyproject.toml
  python/qianfan/dataset/data_source/chunk_reader.py
  python/qianfan/dataset/data_source/file.py
  python/qianfan/dataset/data_source/utils.py
  python/qianfan/dataset/dataset.py
  python/qianfan/tests/dataset/data_source_test.py
Labels: language/python

#480 feat[go]: support text2image
  go/README.md
  go/examples/README.md
  go/examples/go.mod
  go/examples/go.sum
  go/examples/text_to_image/main.go
  go/qianfan/completion.go
  go/qianfan/consts.go
  go/qianfan/embdding.go
  go/qianfan/text2img.go
  go/qianfan/text2img_test.go
  go/qianfan/version.go
Labels: language/go

#487 feat[resource]: fix reranker model & remove plugin & fix header
  docs/inference.md
  python/pyproject.toml
  python/qianfan/__init__.py
  python/qianfan/resources/images/image2text.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/plugin.py
  python/qianfan/resources/llm/rerank.py
  python/qianfan/tests/reranker_test.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python, doc

#449 Add cli proxy
  python/qianfan/common/client/main.py
  python/qianfan/common/client/proxy.py
  python/qianfan/extensions/proxy/__init__.py
  python/qianfan/extensions/proxy/proxy.py
Labels: language/python
