Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-05, with the labels that each got.

#499 feat: add possible error reason
  python/qianfan/consts.py
  python/qianfan/resources/auth/oauth.py
  python/qianfan/resources/console/utils.py
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#492 doc: update readme & inference doc
  README.md
  docs/inference.md
Labels: doc

#491 update markdown file
  README.md
  docs/dataset.md
  docs/install.md
  python/Makefile
  python/pyproject.toml
  python/qianfan/dataset/data_source/baidu_qianfan.py
  python/qianfan/dataset/data_source/bos.py
  python/qianfan/dataset/data_source/file.py
  python/qianfan/dataset/dataset.py
  python/qianfan/utils/fake_pyarrow/__init__.py
Labels: language/python, doc

#505 doc: fix error in batch inference
  cookbook/batch_prediction.ipynb
  docs/batch_inference.md
  docs/inference.md
Labels: doc, cookbook

#502 fix: Redos Vulnerability
  python/qianfan/utils/bos_uploader.py
Labels: language/python

#486 feat: autotuner support flaml
  cookbook/autotuner/flaml.ipynb
  python/qianfan/extensions/flaml/autotuner/__init__.py
  python/qianfan/extensions/flaml/autotuner/suggestor.py
  python/qianfan/extensions/flaml/autotuner/tune.py
Labels: language/python, cookbook

#500 Add performance test lib & Dataset.stress_test function
  docs/stress_test.md
  python/qianfan/__init__.py
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/dataset/stress_test/yame/__init__.py
  python/qianfan/dataset/stress_test/yame/distributor.py
  python/qianfan/dataset/stress_test/yame/listeners/__init__.py
  python/qianfan/dataset/stress_test/yame/listeners/custom_handler.py
  python/qianfan/dataset/stress_test/yame/logger.py
  python/qianfan/dataset/stress_test/yame/runner.py
  python/qianfan/dataset/stress_test/yame/users/__init__.py
  python/qianfan/dataset/stress_test/yame/users/custom_user.py
  python/qianfan/dataset/stress_test/yame/utils.py
Labels: language/python, doc

#504 feat: 支持批量请求时在单条信息中附带超参信息
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/requestor/openapi_requestor.py
  python/qianfan/resources/typing.py
Labels: language/python

#497 fix: model md
  README.md
  docs/model.md
  python/qianfan/model/model.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
Labels: language/python, doc

#507 feat[resource]: add `Function` for function calling
  cookbook/function_call.ipynb
  docs/inference.md
  python/qianfan/__init__.py
  python/qianfan/resources/__init__.py
  python/qianfan/resources/llm/function.py
  python/qianfan/tests/chat_completion_test.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python, doc, cookbook

#511 Update pyproject.toml version
  python/pyproject.toml
Labels: language/python

#512 格式化并且增加了自定义输入输出列的支持
  docs/stress_test.md
  python/pyproject.toml
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/dataset/stress_test/yame/distributor.py
  python/qianfan/dataset/stress_test/yame/listeners/custom_handler.py
  python/qianfan/dataset/stress_test/yame/users/__init__.py
  python/qianfan/dataset/stress_test/yame/users/custom_user.py
Labels: language/python, doc

#516 feat: raw http response headers
  java/src/main/java/com/baidubce/qianfan/Qianfan.java
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/model/BaseResponse.java
Labels: language/java

#517 fix: incorrect description of flag field
  java/src/main/java/com/baidubce/qianfan/model/chat/ChatResponse.java
Labels: language/java

#522 chore: bump version to 0.0.5 & update model endpoint list
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/core/ModelEndpointRetriever.java
Labels: language/java

#525 feat: 浏览器SDK
  javascript/src/Base/index.ts
  javascript/src/DynamicModelEndpoint/index.ts
  javascript/src/Fetch/fetch.ts
  javascript/src/utils.ts
Labels: language/js

#527 add http response headers
  javascript/src/Fetch/fetch.ts
  javascript/src/streaming/index.ts
  javascript/src/utils.ts
Labels: language/js

#515 更新版本号
  docs/inference.md
  docs/stress_test.md
  python/pyproject.toml
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/typing.py
Labels: language/python, doc

#523 feat: 数据管控 API 更新，新增资源购买 API
  python/qianfan/consts.py
  python/qianfan/dataset/dataset_utils.py
  python/qianfan/resources/console/charge.py
  python/qianfan/resources/console/data.py
  python/qianfan/tests/data_api_test.py
  python/qianfan/tests/rpm_and_tpm_test.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python

#529 docs: bump version to 0.0.5
  java/README.md
  java/example/pom.xml
Labels: language/java

#520 update: prompt type hint
  python/qianfan/common/prompt/prompt.py
  python/qianfan/resources/console/prompt.py
Labels: language/python

#530 `Dataset` 的 `test_using_llm` 函数支持更精确的读取延迟信息
  python/qianfan/__init__.py
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/dataset_utils.py
  python/qianfan/dataset/stress_test/load_statistics.py
Labels: language/python

#521 feat: 添加 Guidance 支持
  docs/use_guidance_with_qianfan.md
  python/pyproject.toml
  python/qianfan/extensions/guidance/__init__.py
  python/qianfan/extensions/guidance/_qianfan.py
Labels: language/python, doc

#531 Feat services v2
  python/pyproject.toml
  python/qianfan/consts.py
  python/qianfan/model/configs.py
  python/qianfan/model/model.py
  python/qianfan/resources/__init__.py
  python/qianfan/resources/console/charge.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/model.py
  python/qianfan/resources/console/service.py
  python/qianfan/resources/images/image2text.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
  python/qianfan/resources/llm/embedding.py
  python/qianfan/resources/llm/rerank.py
  python/qianfan/resources/typing.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python

#526 cookbook: role play cookbook
  cookbook/awesome_demo/role_play/data/role-play-sample-10.jsonl
  cookbook/awesome_demo/role_play/main.ipynb
  python/qianfan/resources/typing.py
Labels: language/python, cookbook

#533 feat: 浏览器SDK
  docs/imgs/proxy.png
  javascript/README.md
  javascript/package.json
  javascript/src/Fetch/fetch.ts
  javascript/src/HttpClient/auth.ts
  javascript/src/HttpClient/index.ts
  javascript/src/streaming/index.ts
  javascript/src/utils.ts
  javascript/yarn.lock
Labels: language/js, doc

#542 Update QRCode
  README.md
Labels: doc

#532 更新文档
  docs/batch_inference.md
  docs/inference.md
Labels: doc

#541 doc: 增加离线推理输出文件示例
  docs/batch_inference.md
Labels: doc

#546 fix: langchain upgraded error
  python/pyproject.toml
  python/qianfan/tests/tool_test.py
Labels: language/python

#545 feat: support batch_inference task list
  docs/batch_inference.md
  python/qianfan/consts.py
  python/qianfan/resources/console/data.py
Labels: language/python, doc

#543 fix: 更新配置
  python/qianfan/consts.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
Labels: language/python

#544 feat: support datasetconfig in trainer
  docs/trainer.md
  python/pyproject.toml
  python/qianfan/model/model.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
  python/qianfan/trainer/post_pretrain.py
Labels: language/python, doc

#528 fix: update model endpoint list
  javascript/src/DynamicModelEndpoint/utils.ts
Labels: language/js

#534 文档更新
  javascript/README.md
Labels: language/js

#551 update model list
  javascript/package.json
Labels: language/js

#547 移动 filelock 导入语句
  python/pyproject.toml
  python/qianfan/common/client/proxy.py
  python/qianfan/dataset/data_source/utils.py
Labels: language/python

#550 chore: update model list
  go/Makefile
  go/qianfan/chat_completion.go
  go/qianfan/chat_completion_test.go
  go/qianfan/version.go
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python, language/go

#548 fix: trainer run split_ratio
  python/pyproject.toml
  python/qianfan/tests/trainer_test.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
Labels: language/python

#554 chore: bump version to 0.0.6 & update model endpoint list
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/core/ModelEndpointRetriever.java
Labels: language/java

#553 feat: use system properties in http client configuration
  java/src/main/java/com/baidubce/qianfan/util/http/HttpClient.java
Labels: language/java

#560 feat: 浏览器sdk解偶打包工具
  javascript/package.json
  javascript/rollup.config.mjs
  javascript/src/Base/index.ts
  javascript/src/DynamicModelEndpoint/__tests__/index.test.ts
  javascript/src/DynamicModelEndpoint/index.ts
  javascript/src/Fetch/browserFetch.ts
  javascript/src/Fetch/index.ts
  javascript/src/Fetch/nodeFetch.ts
  javascript/src/HttpClient/auth.ts
  javascript/src/HttpClient/index.ts
  javascript/src/streaming/index.ts
  javascript/src/utils.ts
  javascript/yarn.lock
Labels: language/js

#562 js 添加浏览器埋点
  javascript/src/utils.ts
Labels: language/js

#564 docs: add reranker & proxy example
  java/README.md
  java/example/pom.xml
  java/example/src/main/java/com/baidubce/HttpProxyExample.java
  java/example/src/main/java/com/baidubce/RerankExample.java
Labels: language/java

#569 打包配置优化
  javascript/README.md
  javascript/babel.config.cjs
  javascript/examples/chatCompletion.ts
  javascript/examples/completiont.ts
  javascript/examples/embedding.ts
  javascript/examples/image2text.ts
  javascript/examples/index.html
  javascript/examples/plugins.ts
  javascript/examples/reranker.ts
  javascript/examples/test2image.ts
  javascript/index.d.ts
  javascript/package.json
  javascript/rollup.config.mjs
  javascript/tsconfig.json
  javascript/yarn.lock
Labels: language/js

#570 fix: yarn.lock
  javascript/yarn.lock
Labels: language/js

#572 fix: 更新版本号
  .github/workflows/js_ci.yml
  javascript/package.json
  javascript/tsconfig.json
  javascript/yarn.lock
Labels: language/js

#567 feat: Proxy 服务支持设置证书
  python/qianfan/common/client/main.py
  python/qianfan/common/client/proxy.py
Labels: language/python

#557 fix: dpo increment training
  python/qianfan/resources/console/model.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/finetune.py
Labels: language/python

#558 feat: 数据洞察使用 streamlit 进行页面重构
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/dataset_utils.py
  python/qianfan/dataset/streamlit_script.py
Labels: language/python
