Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-10, with the labels that each got.

#822 Go模型列表更新
  go/qianfan/chat_completion.go
Labels: language/go

#824 feat: SFT 支持模型类型添加图像理解模型
  python/qianfan/resources/console/consts.py
Labels: language/python

#823 feat: 重构 `_request_internal`，将 Exception 计入 Log
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#826 feat: 更新部分管控 API 调用
  python/qianfan/resources/console/finetune.py
  python/qianfan/trainer/configs.py
Labels: language/python

#828 bugfix: 高危漏洞修复
  python/qianfan/resources/batch_inference/helper/helper.py
Labels: language/python

#829 更新 Python 版本号到 0.4.10
  python/pyproject.toml
Labels: language/python

#827 feat: 压测新增 OTPS 等统计指标，并修复压测失败请求被错误统计的问题
  docs/stress_test.md
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python, doc

#825 feat: 支持trainer创建训练任务灵活传参&支持resource_config
  docs/trainer.md
  python/qianfan/tests/trainer_test.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
Labels: language/python, doc

#830 feat: 从压测日志中移除 access token
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#831 feat: `ChatCompletion` 内部二次初始化 real_base 时透传父对象 Config
  python/qianfan/resources/llm/chat_completion.py
Labels: language/python

#833 bugfix: 修复函数调用错误
  python/pyproject.toml
  python/qianfan/resources/batch_inference/helper/helper.py
Labels: language/python

#835 bugfix: 修复在对话场景下压测数据不对的问题
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#837 python新增ernie-4.0-turbo-8k-preview、ernie-4.0-turbo-8k-latest
  python/qianfan/resources/llm/chat_completion.py
Labels: language/python

#840 bugfix: 移除 `safety_level` 不可为 none 的限制
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#839 openai适配器支持usage
  python/qianfan/extensions/openai/adapter.py
Labels: language/python

#845 update: 刷新管控 API 参数和接口类型
  python/qianfan/consts.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/resources/console/charge.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/eval.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/resources/console/model.py
  python/qianfan/resources/console/service.py
  python/qianfan/tests/rpm_and_tpm_test.py
Labels: language/python

#846 fix:修复类型未正确回显问题
  javascript/.gitignore
  javascript/global.d.ts
  javascript/index.d.ts
Labels: language/js

#849 fix:修复类型未正确回显问题发包
  javascript/package.json
Labels: language/js
