Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-07, with the labels that each got.

#631 chore: bump version to 0.0.9
  java/README.md
  java/example/pom.xml
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
Labels: language/java

#642 fix: openai adapter `tool_choice` 忽略 `auto`
  python/qianfan/extensions/openai/adapter.py
Labels: language/python

#638 fix: v2 模型自动小写
  python/qianfan/resources/llm/base.py
Labels: language/python

#643 feat[trainer]: support yiyan corpus
  docs/trainer.md
  python/Makefile
  python/pyproject.toml
  python/qianfan/common/client/openai_adapter.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
  python/qianfan/trainer/finetune.py
  python/qianfan/utils/utils.py
Labels: language/python, doc

#644 fix[docs]: support yiyan corpus fix docs
  docs/trainer.md
Labels: doc

#645 Fix ut
  .github/workflows/py_ci.yml
  .gitignore
  python/poetry.lock
  python/qianfan/resources/llm/base.py
  python/qianfan/trainer/actions.py
  python/scripts/run_test.sh
Labels: language/python, doc, language/java

#637 refactor: silently close stream iterator
  java/src/main/java/com/baidubce/qianfan/core/StreamIterator.java
  java/src/main/java/com/baidubce/qianfan/util/http/SSEIterator.java
Labels: language/java

#646 AIPD-DEV-28296 [TechFeature] 【js】统一推理API v2
  javascript/src/Base/index.ts
  javascript/src/Base/version1.ts
  javascript/src/Base/version2.ts
  javascript/src/ChatCompletion/index.ts
  javascript/src/ChatCompletion/utils.ts
  javascript/src/constant.ts
  javascript/src/interface.ts
  javascript/src/utils.ts
  javascript/yarn.lock
Labels: language/js

#641 feat: add system memory to chat completion
  java/src/main/java/com/baidubce/qianfan/core/builder/ChatBuilder.java
  java/src/main/java/com/baidubce/qianfan/model/chat/ChatRequest.java
Labels: language/java

#636 feat-cookbook-opencompass-evaluator
  cookbook/evaluation/data_file/opcp.jsonl
  cookbook/evaluation/opencompass_evaluator.ipynb
  python/qianfan/evaluation/evaluation_manager.py
Labels: language/python, cookbook

#635 feat[trainer]:支持多数据集 & model_set_id & model_id 更新
  python/pyproject.toml
  python/qianfan/common/client/trainer.py
  python/qianfan/common/persister/persist.py
  python/qianfan/dataset/data_source/bos.py
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/dataset_utils.py
  python/qianfan/evaluation/evaluation_manager.py
  python/qianfan/model/model.py
  python/qianfan/resources/console/charge.py
  python/qianfan/resources/console/data.py
  python/qianfan/tests/data_api_test.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
Labels: language/python

#656 增加数据集数据之间格式不一致的报错
  python/qianfan/dataset/data_source/utils.py
  python/qianfan/utils/fake_pyarrow/lib.py
Labels: language/python

#657 feat: openai adapter 支持设置用于鉴权的 header
  python/qianfan/common/client/main.py
  python/qianfan/common/client/openai_adapter.py
Labels: language/python

#654 压测多轮
  python/poetry.lock
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/dataset/stress_test/yame/runner.py
Labels: language/python

#658 feat[trainer]: support resource config and increment training from model
  python/qianfan/common/client/trainer.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
  python/qianfan/trainer/finetune.py
Labels: language/python

#659 feat[resources]: add unified action call
  .github/workflows/py_ci.yml
  python/poetry.lock
  python/pyproject.toml
  python/qianfan/consts.py
  python/qianfan/resources/console/data.py
  python/qianfan/resources/console/service.py
  python/qianfan/resources/console/utils.py
Labels: language/python

#660 fix: 修复 issues/655 this 显式绑定问题
  javascript/package.json
  javascript/src/Base/index.ts
Labels: language/js

#666 Stream
  javascript/src/ChatCompletion/index.ts
  javascript/src/streaming/index.ts
Labels: language/js

#663 修复 Langchain tool 的单测失败问题
  python/qianfan/common/tool/baidu_search_tool.py
  python/qianfan/common/tool/base_tool.py
  python/qianfan/common/tool/duckduckgo_search_tool.py
  python/qianfan/common/tool/wikipedia_tool.py
  python/qianfan/tests/tool_test.py
Labels: language/python

#664 删除部分无用代码，修改部分文档表述
  .github/workflows/go_ci.yml
  .github/workflows/java_ci.yml
  .github/workflows/js_ci.yml
  .github/workflows/py_ci.yml
  docs/stress_test.md
  python/pyproject.toml
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python, doc, cookbook

#668 fix: doc ci
  .github/workflows/doc_build.yml
  .github/workflows/doc_release.yml
  python/pyproject.toml
  python/qianfan/dataset/stress_test/load_runner.py
Labels: language/python

#670 fix: 修复 issues/655 this 显式绑定问题 #660
  javascript/src/Base/index.ts
  javascript/src/Base/version1.ts
Labels: language/js

#676 fix v1 IAM & AK/SK
  javascript/package.json
  javascript/src/Base/index.ts
  javascript/src/ChatCompletion/utils.ts
Labels: language/js

#677 修复压测工具中判断端口是否被占用时可能不生效的问题
  python/qianfan/dataset/stress_test/yame/utils.py
Labels: language/python

#679 refactor[trainer]: 修改动态TrainConfig懒加载 & 新增Trainer 命令行查看trainer任务信息
  python/poetry.lock
  python/pyproject.toml
  python/qianfan/common/client/main.py
  python/qianfan/common/client/trainer.py
  python/qianfan/dataset/dataset.py
  python/qianfan/model/model.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
  python/qianfan/trainer/dpo.py
  python/qianfan/trainer/finetune.py
  python/qianfan/trainer/pipeline.py
  python/qianfan/trainer/post_pretrain.py
Labels: language/python

#678 feat[trainer]: 支持chat_completion调用ERNIE-Functions-8K
  python/qianfan/model/model.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/function.py
Labels: language/python

#683 feat[resource]: api update
  python/qianfan/consts.py
  python/qianfan/extensions/openai/adapter.py
  python/qianfan/resources/console/charge.py
Labels: language/python

#675 feat-multi_stress_test2.0
  cookbook/dataset/data_file/performance_table.html
  cookbook/dataset/multi_stress_test.ipynb
  cookbook/dataset/stress_test.ipynb
  python/pyproject.toml
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/stress_test/load_runner.py
Labels: language/python, cookbook

#674 feat-pyproxyV2
  python/qianfan/common/client/main.py
  python/qianfan/common/client/proxy.py
  python/qianfan/extensions/proxy/proxy.py
Labels: language/python

#682 浏览器支持自主鉴权和proxy,
  javascript/package.json
  javascript/src/Base/index.ts
  javascript/src/ChatCompletion/index.ts
  javascript/src/Completions/index.ts
  javascript/src/DynamicModelEndpoint/index.ts
  javascript/src/Embedding/index.ts
  javascript/src/Images/image2text.ts
  javascript/src/Images/text2image.ts
  javascript/src/Plugin/index.ts
  javascript/src/Reranker/index.ts
  javascript/src/streaming/index.ts
  javascript/src/utils.ts
  javascript/yarn.lock
Labels: language/js

#687 bug: 升级了 function call 字段的返回结构体以适配 langchain function call
  python/qianfan/extensions/openai/adapter.py
Labels: language/python

#690 fix: remove useless or ambiguous content
  README.md
  cookbook/README.md
  cookbook/auto_truncate_msg.ipynb
  cookbook/awesome_demo/essay_scoring/main.ipynb
  cookbook/awesome_demo/role_play/main.ipynb
  cookbook/batch_prediction.ipynb
  cookbook/eb_search.ipynb
  cookbook/essay_correction.ipynb
  cookbook/finetune/trainer_finetune.ipynb
  cookbook/function_call.ipynb
  cookbook/function_call_with_tool.ipynb
  cookbook/langchain_sequential.ipynb
  cookbook/openai_adapter.ipynb
  docs/batch_inference.md
  docs/cli.md
  docs/data.md
  docs/go/inference.md
  docs/inference.md
  docs/javascript/browser.md
  docs/semantic_kernel.md
  docs/tool.md
  docs/trainer.md
  docs/utils.md
  go/README.md
  go/examples/function_call/main.go
  go/qianfan/chat_completion.go
  go/qianfan/completion.go
  go/qianfan/version.go
  java/README.md
  javascript/README.md
  python/README.pypi.md
  python/qianfan/common/client/plugin.py
  python/qianfan/common/prompt/prompt.py
  python/qianfan/common/tool/baidu_search_tool.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/resources/tools/tokenizer.py
  python/qianfan/tests/langchain/agent_test.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/post_pretrain.py
Labels: language/python, language/go, language/js, doc, cookbook, language/java

#695 fix: 修复 iam 重复签名的问题
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#697 feat: 浏览器提供node proxy
  docs/imgs/browserproxy.jpeg
  docs/javascript/Proxy.md
  javascript/package.json
  javascript/proxyserver/index.js
  javascript/src/Base/index.ts
  javascript/yarn.lock
Labels: language/js, doc

#693 fix[trainer]: fix client trainer info not work with --taks-id / function chat call
  README.md
  cookbook/README.md
  cookbook/auto_truncate_msg.ipynb
  cookbook/awesome_demo/essay_scoring/main.ipynb
  cookbook/awesome_demo/role_play/main.ipynb
  cookbook/batch_prediction.ipynb
  cookbook/eb_search.ipynb
  cookbook/essay_correction.ipynb
  cookbook/finetune/trainer_finetune.ipynb
  cookbook/function_call.ipynb
  cookbook/function_call_with_tool.ipynb
  cookbook/langchain_sequential.ipynb
  cookbook/openai_adapter.ipynb
  docs/batch_inference.md
  docs/cli.md
  docs/data.md
  docs/go/inference.md
  docs/inference.md
  docs/javascript/browser.md
  docs/semantic_kernel.md
  docs/tool.md
  docs/trainer.md
  docs/trainer_ppl_file_tmpl.json
  docs/utils.md
  go/README.md
  go/examples/function_call/main.go
  go/qianfan/chat_completion.go
  go/qianfan/completion.go
  go/qianfan/version.go
  java/README.md
  javascript/README.md
  javascript/package.json
  javascript/src/Base/index.ts
  javascript/src/constant.ts
  javascript/src/index.ts
  javascript/src/interface.ts
  javascript/src/streaming/index.ts
  javascript/src/utils.ts
  python/README.pypi.md
  python/qianfan/common/client/chat.py
  python/qianfan/common/client/plugin.py
  python/qianfan/common/client/trainer.py
  python/qianfan/common/prompt/prompt.py
  python/qianfan/common/tool/baidu_search_tool.py
  python/qianfan/extensions/openai/adapter.py
  python/qianfan/model/model.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/resources/llm/function.py
  python/qianfan/resources/tools/tokenizer.py
  python/qianfan/tests/langchain/agent_test.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/pipeline.py
  python/qianfan/trainer/post_pretrain.py
Labels: language/python, doc

#685 feat[stat]: add star_timestamp
  python/pyproject.toml
  python/qianfan/resources/requestor/base.py
Labels: language/python

#691 feat-stress_test-fixed
  docs/stress_test.md
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/dataset/stress_test/yame/runner.py
Labels: language/python, doc

#692 Feat pyproxy direct
  docs/trainer_ppl_file_tmpl.json
  javascript/src/Base/index.ts
  python/pyproject.toml
  python/qianfan/common/client/chat.py
  python/qianfan/common/client/main.py
  python/qianfan/common/client/proxy.py
  python/qianfan/common/client/trainer.py
  python/qianfan/common/client/utils.py
  python/qianfan/extensions/proxy/proxy.py
  python/qianfan/model/model.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/llm/function.py
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/requestor/openapi_requestor.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/pipeline.py
Labels: language/python, language/go, language/js, doc, cookbook, language/java
