Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-08, with the labels that each got.

#704 feat[golang]: support golang access_token auth config
  go/qianfan/auth.go
  go/qianfan/auth_test.go
  go/qianfan/config.go
  go/qianfan/requestor.go
Labels: language/go

#706 feat: openai adapter支持额外参数
  python/qianfan/common/client/openai_adapter.py
  python/qianfan/extensions/openai/adapter.py
Labels: language/python

#700 feat-stress_test_fixed2.0
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/load_statistics.py
Labels: language/python

#702 fix: functions stream
  python/qianfan/resources/llm/function.py
Labels: language/python

#707 feat: `RateLimiter` 重构
  python/qianfan/resources/rate_limiter.py
Labels: language/python

#710 fix: ratelimiter ut
  python/qianfan/resources/rate_limiter.py
  python/qianfan/tests/rate_limiter_test.py
Labels: language/python

#703 feat: support ernie-lite-v
  .github/workflows/doc_release.yml
  python/pyproject.toml
  python/qianfan/config.py
  python/qianfan/consts.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#715 feat: 支持自定义重试错误码
  go/qianfan/base_model.go
  go/qianfan/config.go
  go/qianfan/consts.go
  go/qianfan/utils.go
Labels: language/go

#717 feat:【js】ernie-lite-v
  javascript/src/DynamicModelEndpoint/utils.ts
Labels: language/js

#722 add javascript call console action
  docs/javascript/Proxy.md
  docs/javascript/console.md
  javascript/package.json
  javascript/src/Fetch/nodeFetch.ts
  javascript/src/HttpClient/index.ts
  javascript/src/index.ts
  javascript/src/utils.ts
  javascript/yarn.lock
Labels: language/go, language/js, doc

#714 修复key error报错
  docs/stress_test.md
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python, doc

#721 修复了因为字段不完整导致无法正常使用多轮functioncall请求的问题
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#727 fix: 文档更新
  docs/javascript/console.md
Labels: doc

#719 Proxy
  docs/imgs/browserproxy.jpeg
  docs/imgs/proxy.jpeg
  docs/javascript/Proxy.md
  javascript/src/Base/index.ts
Labels: language/js, doc

#724 为 do 和 ado 方法增加 `show_total_latency` 参数
  docs/batch_inference.md
  python/qianfan/dataset/dataset_utils.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python, doc

#729 feat: support trainer with AFS
  .github/workflows/js_release.yml
  docs/javascript/Proxy.md
  docs/javascript/console.md
  docs/stress_test.md
  go/qianfan/base_model.go
  go/qianfan/config.go
  go/qianfan/consts.go
  go/qianfan/utils.go
  javascript/package.json
  javascript/src/DynamicModelEndpoint/utils.ts
  javascript/src/Fetch/nodeFetch.ts
  javascript/src/HttpClient/index.ts
  javascript/src/index.ts
  javascript/src/utils.ts
  javascript/yarn.lock
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/requestor/openapi_requestor.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
Labels: language/python

#718 Feat-conversation-cookbook
  cookbook/awesome_demo/customer_service_conversation/img/t1.png
  cookbook/awesome_demo/customer_service_conversation/img/t2.png
  cookbook/awesome_demo/customer_service_conversation/img/t3.png
  cookbook/awesome_demo/customer_service_conversation/img/t4.png
  cookbook/awesome_demo/customer_service_conversation/img/t5.png
  cookbook/awesome_demo/customer_service_conversation/img/t6.png
  cookbook/awesome_demo/customer_service_conversation/main.ipynb
Labels: cookbook

#725 fix: finetune api & fix no_auth
  dotenv_config_sample.env
  python/qianfan/config.py
  python/qianfan/resources/auth/oauth.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/resources/requestor/openapi_requestor.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
Labels: language/python, language/go, language/js, doc

#713 chore: add go call console action
  go/examples/call_console/main.go
Labels: language/go

#730 Feat afs bf
  python/pyproject.toml
  python/qianfan/resources/batch_inference/__init__.py
  python/qianfan/resources/batch_inference/helper/__init__.py
  python/qianfan/resources/batch_inference/helper/helper.py
  python/qianfan/resources/console/data.py
Labels: language/python, cookbook

#733 doc: 增加 go 自定义错误码文档
  go/README.md
Labels: language/go

#734 release: go v0.0.11
  go/qianfan/version.go
Labels: language/go

#736 Update evaluation_manager.py
  python/qianfan/evaluation/consts.py
  python/qianfan/evaluation/evaluation_manager.py
Labels: language/python

#737 Afs datasource
  python/qianfan/dataset/__init__.py
  python/qianfan/dataset/consts.py
  python/qianfan/dataset/data_source/__init__.py
  python/qianfan/dataset/data_source/afs.py
  python/qianfan/dataset/data_source/bos.py
  python/qianfan/dataset/data_source/utils.py
  python/qianfan/dataset/dataset.py
  python/qianfan/resources/batch_inference/helper/helper.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/utils/fake_pyarrow/__init__.py
Labels: language/python

#739 feat: 添加数据集 V2 API
  python/qianfan/consts.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/data.py
Labels: language/python

#741 fix: text2img model list not working
  go/qianfan/model_endpoint_retriever.go
  go/qianfan/text2img.go
Labels: language/go

#743 Fix unclosed aiohttp session whlie exception raised
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#748 修复压测指标倒置的问题
  python/qianfan/dataset/stress_test/load_statistics.py
Labels: language/python

#755 fix: JS-API报错获取body信息失败
  javascript/.eslintrc.cjs
  javascript/src/Fetch/helper.ts
  javascript/src/Fetch/nodeFetch.ts
Labels: language/js

#756 fix: 修复cli chat没有正确显示延迟的问题
  python/qianfan/common/client/chat.py
Labels: language/python

#752 压测支持body
  docs/stress_test.md
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python, doc

#759 fix: _ModuleFinder会阻碍其他MetaPathFinder运行
  python/qianfan/fake_pyarrow_replacer.py
Labels: language/python

#762 JS-API报错获取body信息失败
  javascript/src/Fetch/helper.ts
  javascript/src/Fetch/nodeFetch.ts
Labels: language/js

#764 feat: add inference parameters to chat completion
  java/README.md
  java/example/pom.xml
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/core/builder/ChatBuilder.java
  java/src/main/java/com/baidubce/qianfan/model/chat/ChatRequest.java
Labels: language/java

#766 支持在输出中附带 avg_output_tokens_per_second 字段来标识平均每秒输出 token 数量
  python/qianfan/resources/requestor/base.py
Labels: language/python

#757 fix: 修复response中的retry config不正确的问题
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#765 fix: support chat.do call model as param & 新增langgraph 多agent cookbook
  cookbook/agents/multi-agent-collaboration.ipynb
  python/qianfan/common/client/main.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/function.py
Labels: language/python, cookbook

#747 意图识别样板间优化
  cookbook/awesome_demo/dialogue_multi_tag_generation/main.ipynb
Labels: language/python, language/go, doc, cookbook, language/java

#770 fix: consoleApi V1签名&API错误捕获
  docs/javascript/console.md
  javascript/.eslintrc.cjs
  javascript/src/utils.ts
Labels: language/js, doc

#772 cookbook收费提示
  cookbook/awesome_demo/customer_service_conversation/main.ipynb
  cookbook/awesome_demo/dialogue_multi_tag_generation/main.ipynb
  cookbook/awesome_demo/dpo_words_count_control/main.ipynb
  cookbook/awesome_demo/essay_scoring/main.ipynb
  cookbook/awesome_demo/role_play/main.ipynb
  cookbook/essay_correction.ipynb
  cookbook/finetune/dpo_training.ipynb
  cookbook/finetune/finetune_with_bos_and_evaluate.ipynb
  cookbook/finetune/text2image_finetune.ipynb
  cookbook/offline_batch_inference.ipynb
Labels: cookbook

#767 feat: update readme, and add some cases
  javascript/README.md
  javascript/examples/langchainChat.ts
  javascript/examples/langchainEmbedding.ts
Labels: language/js

#773 feat: 添加 V2 压测文档
  docs/stress_test.md
Labels: doc

#774 feat: Add qianfan dynamics
  python/qianfan/resources/llm/chat_completion.py
Labels: language/python
