Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-06, with the labels that each got.

#563 feat: v2 推理 api
  docs/inference.md
  python/qianfan/autotuner/runner/qianfan_runner.py
  python/qianfan/common/client/chat.py
  python/qianfan/common/client/completion.py
  python/qianfan/common/client/utils.py
  python/qianfan/config.py
  python/qianfan/consts.py
  python/qianfan/dataset/dataset_utils.py
  python/qianfan/resources/__init__.py
  python/qianfan/resources/images/image2text.py
  python/qianfan/resources/images/text2image.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
  python/qianfan/resources/llm/embedding.py
  python/qianfan/resources/llm/function.py
  python/qianfan/resources/llm/plugin.py
  python/qianfan/resources/llm/rerank.py
  python/qianfan/resources/requestor/openapi_requestor.py
  python/qianfan/tests/chat_completion_test.py
  python/qianfan/tests/chat_completion_v2_test.py
  python/qianfan/tests/completion_test.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python, doc

#577 prompt_update_tool2.1.0
  cookbook/README.md
  cookbook/sdxl_prompt_optimize/ae_score.py
  cookbook/sdxl_prompt_optimize/img/dog_raw.png
  cookbook/sdxl_prompt_optimize/img/dog_update.png
  cookbook/sdxl_prompt_optimize/img/horse_raw.png
  cookbook/sdxl_prompt_optimize/img/horse_update.png
  cookbook/sdxl_prompt_optimize/img/lung_raw.png
  cookbook/sdxl_prompt_optimize/img/lung_update.png
  cookbook/sdxl_prompt_optimize/infer.py
  cookbook/sdxl_prompt_optimize/prompt_optimize.ipynb
  cookbook/sdxl_prompt_optimize/requirement.txt
  cookbook/sdxl_prompt_optimize/tools.py
Labels: cookbook

#581 修复distributor中的assert错误 & 压测返回非0时依然打印统计结果
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/dataset/stress_test/yame/distributor.py
Labels: language/python

#578 CLI 支持打开洞察，添加文档
  docs/data_insight.md
  python/pyproject.toml
  python/qianfan/common/client/dataset.py
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/streamlit_script.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/dataset/stress_test/yame/distributor.py
  python/qianfan/utils/logging.py
Labels: language/python, doc

#586 fix: 修复由于限流导致iam签名过期
  python/qianfan/resources/requestor/base.py
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#583 feat: Go SDK 添加 `Tokenizer` 并且支持 `ChatCompletion` 的 `Messages` 截断逻辑
  go/qianfan/chat_completion.go
  go/qianfan/config.go
  go/qianfan/tokenizer.go
Labels: language/go

#589 feat: add memory API and adjust default models & add fields
  go/qianfan/chat_completion.go
  go/qianfan/completion.go
  go/qianfan/consts.go
  python/pyproject.toml
  python/qianfan/consts.py
  python/qianfan/extensions/semantic_kernel/connectors/qianfan_chat_completion.py
  python/qianfan/extensions/semantic_kernel/connectors/qianfan_text_completion.py
  python/qianfan/resources/__init__.py
  python/qianfan/resources/console/memory.py
  python/qianfan/resources/console/service.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
  python/qianfan/resources/llm/embedding.py
  python/qianfan/resources/llm/plugin.py
  python/qianfan/tests/chat_completion_test.py
  python/qianfan/tests/completion_test.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python, language/go

#591 bugfix: 修复文档错误
  docs/use_guidance_with_qianfan.md
Labels: doc

#582 feat: support disable cache
  python/qianfan/common/persister/persist.py
  python/qianfan/config.py
  python/qianfan/consts.py
  python/qianfan/resources/llm/base.py
  python/qianfan/utils/cache/base.py
Labels: language/python

#592 fix: docs & cookbooks
  cookbook/finetune/finetune_with_bos_and_evaluate.ipynb
  cookbook/finetune/text2image_finetune.ipynb
  cookbook/finetune/trainer_finetune.ipynb
  cookbook/finetune/trainer_finetune_event_resume.ipynb
  docs/model.md
  docs/stress_test.md
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/tests/trainer_test.py
Labels: language/python, doc, cookbook

#585 feat-role-play-newvesion
  cookbook/awesome_demo/role_play/data/train.jsonl
  cookbook/awesome_demo/role_play/main.ipynb
  cookbook/awesome_demo/role_play/roleplay_eval.py
Labels: cookbook

#593 chore[go]: update version->0.0.7
  go/qianfan/version.go
Labels: language/go

#600 fix: openai adapter 兼容未提供 finish_reason 的接口
  python/qianfan/extensions/openai/adapter.py
Labels: language/python

#596 feat[resources]: support model compression
  docs/model.md
  python/qianfan/consts.py
  python/qianfan/model/model.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/model.py
Labels: language/python, doc

#601 feat: Dataset 支持缓存关闭的情况下操作
  python/qianfan/dataset/data_source/baidu_qianfan.py
  python/qianfan/dataset/data_source/bos.py
  python/qianfan/dataset/data_source/file.py
  python/qianfan/dataset/data_source/utils.py
  python/qianfan/dataset/table.py
Labels: language/python

#602 feat: 支持 V2 Prompt API
  python/qianfan/consts.py
  python/qianfan/resources/console/prompt.py
Labels: language/python

#599 feat: 添加三个新模型的信息到 Py & Go
  go/qianfan/chat_completion.go
  java/src/main/java/com/baidubce/qianfan/core/ModelEndpointRetriever.java
  javascript/src/ChatCompletion/utils.ts
  javascript/src/DynamicModelEndpoint/utils.ts
  python/qianfan/resources/llm/chat_completion.py
Labels: language/python, language/go, language/js, language/java

#597 Update trainer_finetune.ipynb
  cookbook/finetune/trainer_finetune.ipynb
  python/pyproject.toml
Labels: language/python, cookbook

#598 feat-dpo-words-count-1.0
  cookbook/awesome_demo/dpo_words_count_control/eval.py
  cookbook/awesome_demo/dpo_words_count_control/main.ipynb
Labels: language/python, cookbook

#605 Update stress_test.md with deps install
  docs/stress_test.md
Labels: doc

#610 feat: update openai adapter cookbook
  cookbook/openai_adapter.ipynb
  cookbook/openai_adapter_langchain.ipynb
  docs/inference.md
Labels: doc, cookbook

#607 fix: 私有化鉴权逻辑修复
  python/pyproject.toml
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#617 更新版本号到 0.0.8
  go/qianfan/version.go
Labels: language/go

#613 feat-stress_test_filter
  cookbook/dataset/data_file/stress_test.jsonl
  cookbook/dataset/stress_test.ipynb
  docs/stress_test.md
  python/qianfan/dataset/stress_test/load_runner.py
  python/qianfan/dataset/stress_test/load_statistics.py
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python, doc, cookbook

#619 feat: 为 `Table` 对象添加 `__iter__` 与 `__next__` 函数，在压测中自动设置 `no_proxy="*"`
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/table.py
Labels: language/python

#614 doc: 更新了 Evaluation 相关内容的文档
  cookbook/evaluation/opencompass_evaluator.ipynb
  docs/evaluation.md
Labels: doc, cookbook

#608 bugfix: 更新资源购买接口 Action
  python/qianfan/consts.py
Labels: language/python

#621 chore: bump version to 0.0.8 & update model list
  java/README.md
  java/example/pom.xml
  java/example/src/main/java/com/baidubce/PluginExample.java
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/core/ModelEndpointRetriever.java
Labels: language/java

#622 feat: update resource & fix model
  python/pyproject.toml
  python/qianfan/extensions/openai/adapter.py
  python/qianfan/model/model.py
  python/qianfan/resources/console/data.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/resources/console/service.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
Labels: language/python

#606 feat: models() 支持作为 class method
  python/qianfan/resources/llm/base.py
  python/qianfan/utils/utils.py
Labels: language/python

#623 golang 增加 ERNIE-4.0-Turbo-8K 和 ERNIE-Character-Fiction-8K 两个预置模型
  go/qianfan/chat_completion.go
  go/qianfan/version.go
Labels: language/go

#628 Update README.md
  java/README.md
Labels: language/java
