Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-11, with the labels that each got.

#850 feat: 压测支持 function_call
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#856 bugfix: 使用信号量替换带超时的 queue.get 以避免压测情况下影响 QPS 值
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#857 bugfix: 修复当 text 为 None 时 _MiniLocalTokenizer 无法正常工作的问题
  python/qianfan/resources/token_limiter.py
Labels: language/python

#858 feat: go 支持 v2 api
  go/qianfan/auth.go
  go/qianfan/chat_completion_v2.go
  go/qianfan/config.go
  go/qianfan/requestor.go
Labels: language/go

#860 更新 golang 版本号
  go/qianfan/version.go
Labels: language/go

#861 feat: Add kwargs for llm
  python/pyproject.toml
  python/qianfan/resources/requestor/openapi_requestor.py
Labels: language/python

#847 补齐query_result中的choices字段
  python/qianfan/dataset/stress_test/qianfan_llm_load.py
Labels: language/python

#864 新增 golang v2 调用的文档
  docs/go/inference.md
Labels: doc

#867 bugfix: 修复由于不够鲁棒的正则表达式而导致的问题
  python/qianfan/resources/batch_inference/helper/helper.py
Labels: language/python

#868 Js v2
  javascript/README.md
  javascript/src/Base/index.ts
  javascript/src/Base/version2.ts
  javascript/src/constant.ts
  javascript/src/interface.ts
Labels: language/js

#870 bugfix: js 配置更新
  javascript/global.d.ts
  javascript/package.json
  javascript/tsconfig.json
Labels: language/js

#872 Python SDK 0.4.12.1
  python/pyproject.toml
  python/qianfan/resources/batch_inference/helper/helper.py
Labels: language/python

#873 Js issue
  javascript/README.md
  javascript/package.json
  javascript/src/utils.ts
Labels: language/js

#874 feat: 添加删除精调作业和任务的管控接口
  python/qianfan/consts.py
  python/qianfan/resources/console/finetune.py
Labels: language/python
