Repository baidubce/bce-qianfan-sdk, pull requests merged in 2024-03, with the labels that each got.

#302 add cookbook test
  .github/workflows/ntbk_ci.yml
  .github/workflows/pip_install/action.yml
  Makefile
  cookbook/RAG/question_anwsering/question_answering.ipynb
  cookbook/agents/langchain_agent_with_qianfan_llm.ipynb
  cookbook/agents/qianfan_single_action_agent_example.ipynb
  cookbook/batch_prediction.ipynb
  cookbook/dataset/batch_inference_using_dataset.ipynb
  cookbook/dataset/dataset101.ipynb
  cookbook/dataset/how_to_use_qianfan_operator.ipynb
  cookbook/eb_search.ipynb
  cookbook/evaluation/how_to_use_evaluation.ipynb
  cookbook/evaluation/local_eval_with_qianfan.ipynb
  cookbook/extensions/semantic_kernel/agent_with_sk.ipynb
  cookbook/extensions/semantic_kernel/chatbot_with_sk.ipynb
  cookbook/extensions/semantic_kernel/rag_with_sk.ipynb
  cookbook/finetune/api_based_finetune.ipynb
  cookbook/finetune/data/sample-text-dialog-unsort-annotated.jsonl
  cookbook/finetune/finetune_with_bos_and_evaluate.ipynb
  cookbook/finetune/trainer_finetune.ipynb
  cookbook/finetune/trainer_finetune_event_resume.ipynb
  cookbook/hub.ipynb
  cookbook/langchain_sequential.ipynb
  cookbook/text2image.ipynb
  dotenv_config_sample.env
  python/Makefile
  python/pyproject.toml
  python/scripts/run_test_ntbk.sh
  python/test_CI/conftest.py
  python/test_CI/test_ntbk.py
  python/test_CI/utils/cookbook_operate.py
Labels: language/python, cookbook

#305 adjust pytest for ckbk test
  cookbook/RAG/pinecone/pinecone_qa.ipynb
  cookbook/dataset/dataset101.ipynb
  cookbook/eb_search.ipynb
  cookbook/extensions/semantic_kernel/rag_with_sk.ipynb
  cookbook/finetune/trainer_finetune.ipynb
  python/test_CI/test_ntbk.py
Labels: language/python, cookbook

#301 Dataset semantic refactor
  README.md
  cookbook/dataset/batch_inference_using_dataset.ipynb
  cookbook/dataset/how_to_use_qianfan_operator.ipynb
  cookbook/evaluation/how_to_use_evaluation.ipynb
  cookbook/finetune/finetune_with_bos_and_evaluate.ipynb
  cookbook/finetune/trainer_finetune.ipynb
  cookbook/finetune/trainer_finetune_event_resume.ipynb
  docs/dataset.md
  docs/evaluation.md
  docs/trainer.md
  python/pyproject.toml
  python/qianfan/common/client/dataset.py
  python/qianfan/common/client/evaluation.py
  python/qianfan/common/client/trainer.py
  python/qianfan/dataset/consts.py
  python/qianfan/dataset/data_source/baidu_qianfan.py
  python/qianfan/dataset/data_source/base.py
  python/qianfan/dataset/data_source/bos.py
  python/qianfan/dataset/data_source/chunk_reader.py
  python/qianfan/dataset/data_source/file.py
  python/qianfan/dataset/data_source/utils.py
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/table.py
  python/qianfan/dataset/table_utils.py
  python/qianfan/evaluation/evaluation_manager.py
  python/qianfan/tests/dataset/data_source_test.py
  python/qianfan/tests/dataset/dataset_test.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/tests/utils/mock_server.py
Labels: language/python, doc, cookbook

#307 feat: support ebspeed128k & fix notebook
  cookbook/eb_search.ipynb
  python/pyproject.toml
  python/qianfan/dataset/data_source/file.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
Labels: language/python, cookbook

#318 fix: disable default auto truncate overlong messages
  cookbook/auto_truncate_msg.ipynb
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/tests/chat_completion_test.py
Labels: language/python, cookbook

#314 fix: arguments not working when multiple models in client
  python/qianfan/common/client/chat.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
Labels: language/python

#322 Multi language javascript
  javascript/src/Images/index.ts
Labels: language/js

#315 feat: Dataset manipulator update
  python/qianfan/dataset/consts.py
  python/qianfan/dataset/data_source/base.py
  python/qianfan/dataset/data_source/chunk_reader.py
  python/qianfan/dataset/data_source/file.py
  python/qianfan/dataset/data_source/utils.py
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/table.py
  python/qianfan/dataset/table_utils.py
  python/qianfan/tests/dataset/data_source_test.py
  python/qianfan/tests/dataset/table_test.py
Labels: language/python

#316 feat[resources]: add api to get fine-tune supported models
  python/pyproject.toml
  python/qianfan/consts.py
  python/qianfan/model/model.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/finetune.py
  python/qianfan/resources/console/service.py
  python/qianfan/tests/finetune_test.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
Labels: language/python

#328 fix: cookbook link broken
  cookbook/README.md
  cookbook/batch_prediction.ipynb
  cookbook/dataset/batch_inference_using_dataset.ipynb
  cookbook/offline_batch_inference.ipynb
  docs/batch_inference.md
Labels: doc, cookbook

#331 feat[js]: 打包优化，移除dist目录
  javascript/dist/bundle.esm.js
  javascript/dist/bundle.js
  javascript/dist/src/Base/index.d.ts
  javascript/dist/src/ChatCompletion/index.d.ts
  javascript/dist/src/ChatCompletion/utils.d.ts
  javascript/dist/src/Completions/index.d.ts
  javascript/dist/src/Completions/utils.d.ts
  javascript/dist/src/Embedding/index.d.ts
  javascript/dist/src/Embedding/utils.d.ts
  javascript/dist/src/HttpClient/auth.d.ts
  javascript/dist/src/HttpClient/headers.d.ts
  javascript/dist/src/HttpClient/index.d.ts
  javascript/dist/src/HttpClient/strings.d.ts
  javascript/dist/src/constant.d.ts
  javascript/dist/src/enum.d.ts
  javascript/dist/src/getAccessToken/__test__/index.test.d.ts
  javascript/dist/src/getAccessToken/index.d.ts
  javascript/dist/src/index.d.ts
  javascript/dist/src/interface.d.ts
  javascript/dist/src/multiply/__test__/index.test.d.ts
  javascript/dist/src/multiply/index.d.ts
  javascript/dist/src/streaming/error.d.ts
  javascript/dist/src/streaming/index.d.ts
  javascript/dist/src/test/chatCompletion.d.ts
  javascript/dist/src/test/completiont.d.ts
  javascript/dist/src/test/completiontest.d.ts
  javascript/dist/src/test/embedding.d.ts
  javascript/dist/src/utils.d.ts
  javascript/tsconfig.json
Labels: language/js

#333 bug: jsonline format issue fix
  python/qianfan/dataset/data_source/file.py
Labels: language/python

#339 bugfix: add output_prettified parameter
  python/qianfan/dataset/dataset.py
  python/qianfan/tests/trainer_test.py
Labels: language/python

#336 feat: convert List[Dict] to List[List[Dict]] automatically
  python/qianfan/dataset/data_source/baidu_qianfan.py
  python/qianfan/dataset/data_source/bos.py
  python/qianfan/dataset/data_source/file.py
Labels: language/python

#341 fix: mock server not working when body is empty
  python/qianfan/tests/utils/mock_server.py
Labels: language/python

#342 单测&流水线&文档
  .github/workflows/js_ci.yml
  .github/workflows/js_release.yml
  javascript/README.md
  javascript/package.json
  javascript/src/Base/index.ts
  javascript/src/ChatCompletion/__tests__/index.test.ts
  javascript/src/Completions/__tests__/index.test.ts
  javascript/src/Embedding/__tests__/index.test.ts
  javascript/src/Images/__tests__/index.test.ts
  javascript/src/Plugin/__tests__/index.test.ts
  javascript/src/index.ts
  javascript/src/test/embedding.ts
  javascript/src/test/image2text.ts
  javascript/src/test/plugins.ts
  javascript/src/utils.ts
Labels: language/js

#343 fix: 更新版本号
  javascript/package.json
Labels: language/js

#338 fix: update model name
  python/qianfan/common/client/utils.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
  python/qianfan/resources/typing.py
  python/qianfan/trainer/actions.py
Labels: language/python

#334 feat: add model_type & fix pyproject setting
  python/pyproject.toml
  python/qianfan/common/client/trainer.py
  python/qianfan/trainer/configs.py
Labels: language/python

#347 fix ckbk test
  python/scripts/run_test_ntbk.sh
  python/test_CI/conftest.py
  python/test_CI/utils/cookbook_operate.py
Labels: language/python

#350 feat: add dot env config file support
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/core/QianfanConfig.java
  java/src/main/java/com/baidubce/qianfan/core/auth/Auth.java
  java/src/main/java/com/baidubce/qianfan/core/auth/IAMAuth.java
  java/src/main/java/com/baidubce/qianfan/core/auth/QianfanOAuth.java
  java/src/main/java/com/baidubce/qianfan/model/constant/ModelEndpoint.java
  java/src/main/java/com/baidubce/qianfan/util/EnvParser.java
Labels: language/java

#353 fix[go]: error not reported when using stream
  go/qianfan/base_model.go
  go/qianfan/version.go
Labels: language/go

#351 feat:Text2Image Dataset support
  cookbook/dataset/data_file/text2img_example_data/0.jpg
  cookbook/dataset/data_file/text2img_example_data/0.json
  cookbook/dataset/data_file/text2img_example_data/1.jpg
  cookbook/dataset/data_file/text2img_example_data/1.json
  cookbook/dataset/data_file/text2img_example_data/2.jpg
  cookbook/dataset/data_file/text2img_example_data/2.json
  cookbook/dataset/data_file/text2img_example_data/3.jpg
  cookbook/dataset/data_file/text2img_example_data/3.json
  cookbook/dataset/data_file/text2img_example_data/4.jpg
  cookbook/dataset/data_file/text2img_example_data/4.json
  cookbook/dataset/data_file/text2img_example_data/5.jpg
  cookbook/dataset/data_file/text2img_example_data/5.json
  cookbook/dataset/data_file/text2img_example_data/6.jpg
  cookbook/dataset/data_file/text2img_example_data/6.json
  cookbook/dataset/data_file/text2img_example_data/7.jpg
  cookbook/dataset/data_file/text2img_example_data/7.json
  cookbook/dataset/data_file/text2img_example_data/8.jpg
  cookbook/dataset/data_file/text2img_example_data/9.jpg
  cookbook/dataset/text_to_image_dataset.ipynb
  python/qianfan/dataset/consts.py
  python/qianfan/dataset/data_source/baidu_qianfan.py
  python/qianfan/dataset/data_source/base.py
  python/qianfan/dataset/data_source/bos.py
  python/qianfan/dataset/data_source/file.py
  python/qianfan/dataset/data_source/utils.py
  python/qianfan/dataset/dataset.py
  python/qianfan/dataset/schema.py
  python/qianfan/tests/dataset/data_source_test.py
Labels: language/python, cookbook

#349 fix: Dataset/RateLimiter bugs，add more unit tests
  python/qianfan/dataset/dataset.py
  python/qianfan/resources/rate_limiter.py
  python/qianfan/resources/token_limiter.py
  python/qianfan/tests/dataset/data_source_test.py
  python/qianfan/tests/rate_limiter_test.py
  python/qianfan/tests/token_limiter_test.py
Labels: language/python

#352 fix local_evaluator import error
  cookbook/evaluation/local_eval_with_qianfan.ipynb
  python/qianfan/evaluation/local_evaluator.py
Labels: language/python, cookbook

#356 Update test_ntbk
  Makefile
  python/Makefile
  python/scripts/run_test_ntbk.sh
  python/test_CI/conftest.py
  python/test_CI/test_ntbk.py
  python/test_CI/utils/cookbook_operate.py
Labels: language/python

#359 fix[resource]: model apis
  python/qianfan/consts.py
  python/qianfan/resources/console/consts.py
  python/qianfan/resources/console/model.py
Labels: language/python

#363 optimize: adjust deprecated item location in cli
  python/qianfan/common/client/trainer.py
  python/qianfan/common/client/utils.py
Labels: language/python

#330 experimental: openai wrapper server
  cookbook/README.md
  cookbook/openai_adapter.ipynb
  docs/cli.md
  python/pyproject.toml
  python/qianfan/common/client/main.py
  python/qianfan/common/client/openai_adapter.py
  python/qianfan/extensions/openai/__init__.py
  python/qianfan/extensions/openai/adapter.py
  python/qianfan/utils/utils.py
Labels: language/python, doc, cookbook

#358 添加 Opencompass cookbook
  cookbook/evaluation/data_file/eval_dataset.csv
  cookbook/evaluation/opencompass_evaluator.ipynb
  python/qianfan/evaluation/opencompass_evaluator.py
Labels: language/python, cookbook

#361 feat[resource]: supported dynamic infer api model
  python/pyproject.toml
  python/qianfan/common/client/utils.py
  python/qianfan/config.py
  python/qianfan/consts.py
  python/qianfan/extensions/semantic_kernel/connectors/qianfan_settings.py
  python/qianfan/resources/images/image2text.py
  python/qianfan/resources/images/text2image.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/llm/chat_completion.py
  python/qianfan/resources/llm/completion.py
  python/qianfan/resources/llm/embedding.py
  python/qianfan/resources/llm/plugin.py
  python/qianfan/resources/typing.py
  python/qianfan/tests/chat_completion_test.py
  python/qianfan/tests/text2image_test.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/configs.py
  python/qianfan/trainer/finetune.py
  python/scripts/run_test.sh
Labels: language/python

#374 fix[js]: 模型名称支持大小写
  javascript/package.json
  javascript/src/ChatCompletion/index.ts
  javascript/src/Completions/index.ts
  javascript/src/Embedding/index.ts
  javascript/src/Images/text2image.ts
  javascript/src/Plugin/index.ts
  javascript/src/Plugin/utilts.ts
  javascript/src/utils.ts
Labels: language/js

#376 fix[python]: fix version
  python/pyproject.toml
Labels: language/python

#378 fix[cookbook]: fix README.md
  cookbook/README.md
Labels: cookbook

#380 fix: replace additional_kwargs to response_metadata
  python/qianfan/extensions/langchain/agents/baidu_qianfan_endpoint.py
Labels: language/python

#383 fix:【js】限流依赖库变更
  javascript/package.json
  javascript/src/Limiter/RateLimiter/index.ts
  javascript/src/Limiter/TokenLimiter/__tests__/index.test.ts
  javascript/src/Limiter/TokenLimiter/index.ts
  javascript/yarn.lock
Labels: language/js

#369 fix[source] type intelligent error
  cookbook/README.md
  python/qianfan/resources/console/model.py
Labels: language/python, cookbook

#388 fix: openai adapter cannot convert tool_choice from function_call
  python/qianfan/extensions/openai/adapter.py
Labels: language/python

#384 feat: Split dependency
  python/Makefile
  python/pyproject.toml
  python/qianfan/__init__.py
  python/qianfan/dataset/data_source/baidu_qianfan.py
  python/qianfan/dataset/data_source/bos.py
  python/qianfan/dataset/data_source/chunk_reader.py
  python/qianfan/dataset/data_source/file.py
  python/qianfan/dataset/data_source/utils.py
  python/qianfan/dataset/dataset.py
  python/qianfan/evaluation/evaluation_manager.py
  python/qianfan/evaluation/evaluation_result.py
  python/qianfan/fake_pyarrow_replacer.py
  python/qianfan/tests/utils/mock_server.py
  python/qianfan/trainer/actions.py
  python/qianfan/utils/fake_pyarrow/__init__.py
  python/qianfan/utils/fake_pyarrow/compute.py
  python/qianfan/utils/fake_pyarrow/functions.py
  python/qianfan/utils/fake_pyarrow/ipc.py
  python/qianfan/utils/fake_pyarrow/table.py
Labels: language/python

#387 fix cookbook
  Makefile
  cookbook/RAG/pinecone/pinecone_qa.ipynb
  cookbook/finetune/api_based_finetune.ipynb
  cookbook/offline_batch_inference.ipynb
  python/Makefile
  python/scripts/run_test_ntbk.sh
  python/test_CI/conftest.py
  python/test_CI/test_ntbk.py
  python/test_CI/utils/cookbook_operate.py
Labels: language/python, cookbook

#391 feat[coobkook]: add text2image cookbooks
  cookbook/finetune/text2image_finetune.ipynb
Labels: cookbook

#389 feat: generate release note when py_release
  .github/workflows/ntbk_ci.yml
  .github/workflows/py_release.yml
  python/scripts/release_note.sh
Labels: language/python

#397 readme: add java & js badge
  README.md
Labels: doc

#392 fix: openai adapter dependency flask -> fastapi
  python/pyproject.toml
  python/qianfan/common/client/main.py
  python/qianfan/common/client/openai_adapter.py
  python/qianfan/extensions/openai/adapter.py
  python/qianfan/utils/utils.py
Labels: language/python

#398 feat: add support for request retries
  java/src/main/java/com/baidubce/qianfan/Qianfan.java
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/core/QianfanConfig.java
  java/src/main/java/com/baidubce/qianfan/model/BaseRequest.java
  java/src/main/java/com/baidubce/qianfan/model/RetryConfig.java
  java/src/main/java/com/baidubce/qianfan/model/constant/APIErrorCode.java
  java/src/main/java/com/baidubce/qianfan/model/exception/ApiException.java
  java/src/main/java/com/baidubce/qianfan/util/function/ThrowingFunction.java
  java/src/main/java/com/baidubce/qianfan/util/function/ThrowingSupplier.java
  java/src/main/java/com/baidubce/qianfan/util/http/ContentType.java
  java/src/main/java/com/baidubce/qianfan/util/http/HttpClient.java
  java/src/main/java/com/baidubce/qianfan/util/http/HttpStatus.java
Labels: language/java

#400 feat: add support for rate limit
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/Qianfan.java
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/core/QianfanConfig.java
  java/src/main/java/com/baidubce/qianfan/core/RateLimiter.java
  java/src/main/java/com/baidubce/qianfan/model/RateLimitConfig.java
  java/src/main/java/com/baidubce/qianfan/util/TokenBucketLimiter.java
Labels: language/java

#401 fix: max wait interval in back off retry
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
Labels: language/java

#395 fix[resource]: dynamic model lists retriver
  python/pyproject.toml
  python/qianfan/consts.py
  python/qianfan/dataset/consts.py
  python/qianfan/dataset/dataset_utils.py
  python/qianfan/dataset/table.py
  python/qianfan/extensions/langchain/__init__.py
  python/qianfan/resources/llm/base.py
  python/qianfan/resources/requestor/base.py
  python/qianfan/trainer/configs.py
  python/qianfan/utils/cache/__init__.py
  python/qianfan/utils/cache/base.py
Labels: language/python

#360 feat[trainer]: support trainer persistence & recover
  python/qianfan/common/client/trainer.py
  python/qianfan/common/persister/__init__.py
  python/qianfan/common/persister/base.py
  python/qianfan/common/persister/persist.py
  python/qianfan/common/runnable/base.py
  python/qianfan/tests/trainer_test.py
  python/qianfan/trainer/__init__.py
  python/qianfan/trainer/actions.py
  python/qianfan/trainer/base.py
  python/qianfan/trainer/configs.py
  python/qianfan/trainer/consts.py
  python/qianfan/trainer/finetune.py
  python/qianfan/trainer/pipeline.py
  python/qianfan/trainer/post_pretrain.py
  python/qianfan/trainer/ppl.yaml
  python/qianfan/trainer/trainer.py
Labels: language/python
