Repository baidubce/bce-qianfan-sdk, pull requests merged in 2025-02, with the labels that each got.

#889 feat: 移除模型名的强制小写转换
  .github/workflows/doc_build.yml
  .github/workflows/go_ci.yml
  .github/workflows/go_release.yml
  .github/workflows/js_ci.yml
  .github/workflows/js_release.yml
  .github/workflows/py_ci.yml
  .readthedocs.yaml
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  python/pyproject.toml
  python/qianfan/resources/llm/base.py
Labels: language/python, language/java

#893 doc: 补充获取 Bearer token 的示例中 IAM 对象的导入路径
  docs/inference.md
Labels: doc

#895 feat: Java 支持 Embedding V2, Reranker V2, 在 V2 回包中添加 reasoing_content 字段
  java/pom.xml
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/QianfanV2.java
  java/src/main/java/com/baidubce/qianfan/core/builder/EmbeddingV2Builder.java
  java/src/main/java/com/baidubce/qianfan/core/builder/RerankV2Builder.java
  java/src/main/java/com/baidubce/qianfan/model/BaseResponse.java
  java/src/main/java/com/baidubce/qianfan/model/chat/v2/Message.java
  java/src/main/java/com/baidubce/qianfan/model/chat/v2/response/Delta.java
  java/src/main/java/com/baidubce/qianfan/model/embedding/v2/EmbeddingDataV2.java
  java/src/main/java/com/baidubce/qianfan/model/embedding/v2/EmbeddingRequestV2.java
  java/src/main/java/com/baidubce/qianfan/model/embedding/v2/EmbeddingResponseV2.java
  java/src/main/java/com/baidubce/qianfan/model/embedding/v2/EmbeddingUsageV2.java
  java/src/main/java/com/baidubce/qianfan/model/rerank/RerankRequest.java
  java/src/main/java/com/baidubce/qianfan/model/rerank/v2/RerankDataV2.java
  java/src/main/java/com/baidubce/qianfan/model/rerank/v2/RerankRequestV2.java
  java/src/main/java/com/baidubce/qianfan/model/rerank/v2/RerankResponseV2.java
  java/src/main/java/com/baidubce/qianfan/model/rerank/v2/RerankUsageV2.java
Labels: language/java

#887 feat: Java 支持自行传入 BearerToken 调用
  java/src/main/java/com/baidubce/qianfan/Qianfan.java
  java/src/main/java/com/baidubce/qianfan/QianfanClient.java
  java/src/main/java/com/baidubce/qianfan/QianfanV2.java
  java/src/main/java/com/baidubce/qianfan/core/QianfanConfig.java
  java/src/main/java/com/baidubce/qianfan/core/auth/Auth.java
  java/src/main/java/com/baidubce/qianfan/core/auth/QianfanV2Auth.java
Labels: language/java

#897 feat: go 支持 Embedding V2
  go/qianfan/chat_completion_v2.go
  go/qianfan/consts.go
  go/qianfan/embedding_v2.go
Labels: language/go

#898 Origin/js add token param
  javascript/package.json
  javascript/src/Base/index.ts
  javascript/src/Base/version2.ts
  javascript/src/constant.ts
  javascript/src/interface.ts
Labels: language/js
